*{   margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{ background-color:#f2f2f2 ;
  font-family: 'Poppins', sans-serif;
   line-height: 1.6;
   color: #333;
   padding: 20px;
}
h1,h2
{ color: #2c3e50;
}
header
{
    background-color: #1abc9c;
    color: white;
    padding: 30px 20px;
    text-align:center;
    border-radius: 8px;
    margin-bottom:30px ;

}
main
{   display: flex;
     gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

section
{   flex:1 1 45%;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}
#project-grid {
  padding: 40px 0;
  padding: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.card
{
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.card h3 {
  margin-bottom: 8px;
}
.card:hover { 
   transform: scale(1.03);
  border: 1px solid #1abc9c;
}

#contact a{
    color: #2980b9;
    text-decoration:none;
}
ul
{
    list-style: none;
    padding-left: 0;
}
ul li
{
   background-color: #ecf0f1;
   padding: 8px 12px;
   margin-bottom: 8px;
   border-radius: 6px;
}
footer
{   box-shadow: black;
    padding: 20px ;
    background-color: #2c3e50;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius:20px;
    margin-top:40px;
    padding-top: 20px;
    align-content: center;
    
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  section {
    flex: 1 1 100%;
  }
  section h2 {
  margin-bottom: 10px;
}
}
